* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
/*from socket.io "hello world" chat exampe*/

body {
  background: #eee;
  font-family: sans-serif;
}

#mario-chat {
  margin: 30px auto;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
}

#chat-window {
  height: 400px;
  background: #f9f9f9;
  overflow: auto;
}

#output p {
  margin: 0 20px;
  padding: 14px 0px;
  color: #555;
  border-bottom: 1px solid #e9e9e9;
}

#feedback p {
  margin: 0 20px;
  padding: 14px 0;
  color: #aaa;
}

input {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  background: #fff;
  border: 0;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

button {
  border: 0;
  width: 100%;
  padding: 12px 0;

  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border-radius: 0 0 2px 2px;
}
